.nutrition-overview {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 90px;
    margin-right: 90px;
}


.banner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: var(--less-dark-background);
    height: 120px;
}

.nutrition-overview .banner h3 {
    font-size: 35px;
    font-weight: 700;
    color: orange;
}

.Button.outline {
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: orange;
    border: 1px solid black;
}

.Button.outline {
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: orange;
    border: 1px solid black;
}
.Button.small {
    padding: 10px 20px;
    max-height: 40px;
}
.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    outline: none;
    transition: all .2s ease;
    border: 1px solid transparent;
    white-space: nowrap;
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}